@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,700&display=swap");
.box {
    background-color: #9daac58c !important;
    text-align: center;
    align-items: baseline;
    color: black !important;
    font-family: 'PT Sans', sans-serif;
}

.profileImg {
    box-shadow: 1px 1px 2px black;
    border-radius: 5%;
    height: 375px;
    width: 375px;
}

.column {
    align-self: center;
}

p {
    font-size: 20px;
}

.contactHead {
    font-size: 42px !important;
    margin: 14px;
}

.intro {
    margin-top: 10px;
    font-size: 60px;
}

