.box {
  /* font-family: 'Rokkitt', serif; */
    background-color: #848fa5bb !important;
    text-align: center;
    align-items: baseline;
    color: #2e2f2f;
}

.profileImg {
    box-shadow: 1px 1px 2px black;
    border-radius: 5%;
    height: 375px;
    width: 375px;
}

.contactLinks {
    color: #e9dab3 !important;
    text-shadow: 1px 1px #2e2f2f86;
}
.contactLinks:hover {
    color: #fdfffc !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.671);
}

p {
    font-size: 18px;
}

.contactHead {
    font-size: 42px !important;
    /* font-family: "Roboto Mono", monospace; */
    margin: 14px;
}

.intro {
    margin-top: 10px;
    font-size: 60px;
}