@import url("https://fonts.googleapis.com/css?family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

.box {
  font-family: 'Rokkitt', serif;
    background-color: #848fa5bb;
    text-align: center;
    align-items: baseline;
    color: #2e2f2f;
}

.profileImg {
    box-shadow: 1px 1px 2px black;
    border-radius: 5%;
}

.contact {
    color: #e9dab3 !important;
    text-shadow: 1px 1px #2e2f2f86;
}
.contact:hover {
    color: #fdfffc !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.671);
}

p {
    font-size: 22px;
}

h5 {
    font-size: 42px;
    font-family: "Roboto Mono", monospace;
    margin: 14px;
}

.intro {
    margin-top: 10px;
    font-size: 60px;
}