@import url("https://fonts.googleapis.com/css?family=Rokkitt&display=swap");

.box {
  font-family: 'Rokkitt', serif;
    font-size: 48px;
    background-color: #848fa5bb;
    text-align: center;
    align-items: baseline;
    color: #2e2f2f;
}

.profileImg {
    box-shadow: 1px 1px 2px black;
    border-radius: 5%;
}

.contact {
    color: #e5dcc5 !important;
    text-shadow: 1px 1px #2e2f2f86;
}
.contact:hover {
    color: #fdfffc !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.671);
}