@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,700&display=swap");
.techStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(202, 226, 228);
    font-family: "PT Sans", sans-serif;
    color: black !important;
    justify-content: space-between;
    align-content: center;
}

.emphasis {
    font-size: 48px;
}

.list {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

li {
    margin: 5px;
}

@media only screen and (max-width: 1063px) {
    .list {
        flex-direction: column;
    }
}